.box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: 'scores'
    'cards';
}
ul{
    padding: 0px;
    grid-area: scores;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.cardsBox{
    grid-area: cards;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}