.box{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    grid-template-areas: 'scores'
    'cards';
}
ul{
    padding: 0px;
    grid-area: scores;
    list-style: none;
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
}
.cardsBox{
    grid-area: cards;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.card{
    border: 5px solid black;
    background-color: green;
    cursor: grab;
}
li{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    font-size: 50px;
}